body {
  text-align: center;
}

.container {
  position: relative;
  width: 80%;
}

.images {
  width: 20%;
  display: block;
  margin: 20% auto;
  text-align: center;
}

.hero {
  font-weight: 700;
}

.line {
  border-bottom: 10px solid #5cac04
  ;
  border-radius: 5px;
  width: 7rem;
  margin: 15% auto;
}

.text {
  font-size: 2.5rem;
  margin-bottom: 15%;
}

.btn {
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.fab, .fas {
  padding-right: 1rem;
}

.fab-btn {
  background: #48608f;
  padding: 2rem;
}

.fas-btn {
  background: #5cac04;
  padding: 2rem;
}

.foot {
  margin: 3rem;
}

.login {
  color: #5cac04;
}