body {
  text-align: center;
}

.container {
  position: relative;
  width: 80%;
}

.images {
  width: 20%;
  display: block;
  margin: 20% auto;
  text-align: center;
}

.hero {
  font-weight: 700;
}

.line {
  border-bottom: 10px solid #5cac04
  ;
  border-radius: 5px;
  width: 7rem;
  margin: 15% auto;
}

.text {
  font-size: 2.5rem;
  margin-bottom: 15%;
}

.btn {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  width: 90%;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.fab, .fas {
  padding-right: 1rem;
}

.fab-btn {
  background: #48608f;
  padding: 2rem 0rem 2rem 5rem
}

.fas-btn {
  background: #5cac04;
  padding: 2rem 0rem 2rem 5rem
}